// .footer {
//   border-top: 1px solid #208888;
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   box-sizing: border-box;

footer {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
  //   position: absolute;

  .text {
    text-align: center;
    color: #a3a3a3;
  }
}

.bottom-tags {
  position: absolute;
  bottom: 25px;
  right: 40px;
  margin-left: 40px;
  opacity: 0.3;
  color: #a3a3a3;
}

@media screen and (max-width: 750px) {
  .bottom-tags {
    display: none;
  }

  //   .footer {
  //     position: inherit;
  //     box-sizing: border-box;
  //   }
}
