body {
  margin: 0;
  font-family: "montserrat", "sans-serif";
  color: white;
  background: #333438;
  overflow-x: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; */

  width: 100%;
  height: 100%;
  /* position: absolute; */
}

main {
  flex: 1;
  padding: 10px;
}
